<!DOCTYPE html>
<html data-theme="dark">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Meghana Assignment3</title>
    <style>
        .cell { 
            border: 5px; 
            width: 40px; 
            height: 40px; 
        }
        .board {
            margin-top: 40px;
        }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
</head>
<body id="myapp">
    <section class="section">
        <div class="container">
            <h1 class="title">
                Tic Tac Toe
            </h1>
        </div>
    </section>
    
    <section class="section">
        <div class="board has-text-centered columns is-multiline">
            <table>
                <tr v-for="(row, indexRow) in board">
                    <td v-for="(col, indexCol) in row"><button v-text="class=cell-{{indexRow}}-{{indexCol}}" v-on:click="play(indexRow+1,indexCol+1)">&nbsp;{{ col }}&nbsp;</button></td>
                </tr>
            </table>
        </div>
        <div>
            <div id="resultMessage" v-text="resultMessage"></div>
        </div>
        <div class="field">
            <div class="control">
                <p> &nbsp;
                <p>
                <button class="button reset" v-on:click="reset()">RESET</button>
            </div>
          </div>
    </section>
    
    <script src="vue.js"></script>
    <script src="tictactoe.js"></script>
</body>
</html>